.container > .label-header {
  margin: 10px 0; }
  .container > .label-header div {
    padding: 0; }
    .container > .label-header div a {
      text-decoration: none; }
      .container > .label-header div a:hover {
        text-decoration: none; }
      .container > .label-header div a > h1 {
        color: #f07933; }
        .container > .label-header div a > h1:hover {
          color: #0087bf; }

.container .search-area div:first-child {
  padding-right: 0; }

.container .search-area div:nth-child(2) {
  padding-right: 0; }

.container .search-area div:nth-child(3) {
  padding-left: 15px;
  padding-right: 0; }
  .container .search-area div:nth-child(3) button {
    margin-top: 31px; }
  .container .search-area div:nth-child(3) > button:first-child {
    margin-right: 10px; }
  .container .search-area div:nth-child(3) > button:nth-child(2) {
    padding: 6px 20px; }

.container .table > div:first-child {
  margin-top: 40px; }

.container .table table {
  text-align: center; }
